name: Sync Static Assets to DEV S3

on:
  pull_request:
    branches:
      - dev
    types:
      - closed

jobs:
  sync-assets:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - run: aws s3 sync public/ s3://${{ secrets.DEV_BUCKET }}/ --delete --size-only

