name: Sync DEV S3 to STAGE S3

on:
  pull_request:
    branches:
      - stage
    types:
      - closed

permissions:
  id-token: write

jobs:
  s3-sync:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_STAGE_ROLE_ARN }}
          aws-region: ap-south-1

      - run: aws s3 sync s3://${{ secrets.DEV_BUCKET }}/ s3://${{ secrets.STAGE_BUCKET_NAME }}/
